pandas >= 0.20.3
six == 1.8.0
setuptools >= 21.0.0
requests >= 2.18.4
requests-kerberos >= 0.12.0
asn1crypto==0.24.0
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
cryptography==39.0.1
idna==2.6
ntlm-auth==1.1.0
numpy==1.14.3
pycparser==2.18
python-dateutil==2.7.3
pytz==2018.4
requests-ntlm==1.1.0
six==1.8.0
urllib3==1.22
wincertstore==0.2
winkerberos==0.7.0